/* your styles go here */

.topbar_drop_down_item {
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  text-transform: uppercase !important;
  padding: 15px 20px !important;
}

.topbar_profile_photo {
  height: 25px;
  width: auto;
}

.middle_bar {
  margin-left: 9px;
}

.invalid_message {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.form-group select {
  padding-top: 3px;
  padding-left: 6px;
}

.input-group select {
  padding-top: 3px;
  padding-left: 6px;
}
